
{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
cart
{% endblock %}

{% block content %}


<section class="section-content padding-y bg">
	<div class="container">
	
	<!-- ============================ COMPONENT 1 ================================= -->
	
	<div class="row">
		<aside class="col-lg-9">
	<div class="card">
	<table class="table table-borderless table-shopping-cart">
	<thead class="text-muted">
	<tr class="small text-uppercase">
	  <th scope="col">Product</th>
	  <th scope="col" width="120">Quantity</th>
	  <th scope="col" width="120">Price</th>
	  <th scope="col" class="text-right" width="200"> </th>
	</tr>
	</thead>
	<tbody>
	

	{% for item  in cart_items %}	
		

			<tr>
				<td>
					
					<figure class="itemside align-items-center">
						<a href="{{ product.get_absolute_url }}">
						<div class="aside"><img src="{{ item.product.image.url }}" class="img-sm"></div>
						<figcaption class="info">
							<a href="{{ product.get_absolute_url }}" class="title text-dark">{{ item.product.name }}</a>
							<p class="small text-muted">{{ item.product.description }}</p>
						</figcaption>
					</figure>
				</td>
				<td> 
					<!-- col.// --> 
								<div class="col"> 
									<div class="input-group input-spinner">
										<div class="input-group-prepend">
										<a class="btn btn-light" href="{% url 'cart:remove_cart_item' item.id %}" type="button" id="button-plus"> <i class="fa fa-minus"></i> </a>
										</div>
										
										<input type="text" class="form-control"  value="{{ item.quantity }}">
										
										<div class="input-group-append">
										<a class="btn btn-light" href="{% url 'cart:ad_to_cart' item.id %}" type="button" id="button-minus"> <i class="fa fa-plus"></i> </a>
										</div>
										
									</div> <!-- input-group.// -->
								</div> <!-- col.// -->
				</td>
				<td> 
					<div class="price-wrap"> 
						<var class="price">{{ item.product.price|intcomma }}</var> 
						<small class="text-muted">{{ item.product.price|intcomma }}</small> 
					</div> <!-- price-wrap .// -->
				</td>
			</td>
			<td class="text-right">
				<a href="{% url 'cart:delete_cart' item.id  %}" class="btn btn-danger"> Remove</a>
			</td>
				{% empty %}
					<tr>
						<td colspan='4'>
							<h3 class="text-center"> No items in cart</h3>	
						</td>
					</tr>	
				
			</tr>
		
	{% endfor %}
	</tbody>
	</table>
	</div> <!-- card.// -->
	
		</aside> <!-- col.// -->
		<aside class="col-lg-3">
	
			<div class="card">
			<div class="card-body">
				<dl class="dlist-align">
				  <dt>Total price:</dt>
				  <dd class="text-right">{{total_price|intcomma}}</dd>
				</dl>
				<dl class="dlist-align">
				  <dt>Taxi:</dt>
				  <dd class="text-right"> {{delevery|intcomma}}</dd>
				</dl>
				<dl class="dlist-align">
				  <dt>Total:</dt>
				  <dd class="text-right text-dark b"><strong>{{grand_total|intcomma}}</strong></dd>
				</dl>
				<hr>
				<p class="text-center mb-3">
					<img src="{% static './images/misc/payments.png' %}" height="26">
				</p>
				<a href="{% url 'order:checkout' %}" class="btn btn-primary btn-block"> Checkout </a>
				<a href="./store.html" class="btn btn-light btn-block">Continue Shopping</a>
			</div> <!-- card-body.// -->
			</div> <!-- card.// -->
	
	</aside> <!-- col.// -->
	
	
	</div> <!-- row.// -->
	<!-- ============================ COMPONENT 1 END .// ================================= -->
	
	</div> <!-- container .//  -->
	</section>
	<!-- ========================= SECTION CONTENT END// ========================= -->
	

{% endblock %}

