{% extends "base.html" %}
{% load static %}

{% block title %}

Register

{% endblock %}


{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">


    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">

            {% include 'includes/message.html' %}

          <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}
                     
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                    </div> <!-- form-group// -->      
                        
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">Have an account? <a href="{% url 'accounts:login' %}">Log In</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

    
{% endblock %} 